@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif, Helvetica;
}

/*Stop overscroll X because of the hamburger menu COMPUTER*/

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

/*Stop overscroll X because of the hamburger menu MOBILE*/

body {
	position: relative;
}

/*Setting the scroll effect, and hiding the horizontal scroll bar*/
.container {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

/*Setting the scroll effect*/
section {
	scroll-snap-align: start;
}

.index-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 24px;
	width: 100vw;
	height: 100vh;
	background: url(images/background.png) no-repeat center;
	background-size: cover;
}

/*Button back to top*/
.to-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	border-radius: 70%;
	pointer-events: auto;
	transition: all 0.4s;
	cursor: pointer;
	outline: none;
	border: none;
}
.to-top i {
	font-size: 3rem;
}
.to-top:hover {
	background-color: #1d3557;
	color: White;
}

/* .huge-image-container {
	grid-column: 1/13;
	grid-row: 1/13;
} */

/*Background Image for Index.html*/
/* .huge-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

/*Logo and Menu Navigation*/
.rectangle {
	background: url(images/rectangle.png);
	width: 100%;
	grid-column: 1/13;
	grid-row: 1/2;
}
header {
	max-width: 100%;
}

.logo-container {
	width: 332px;
	height: 123px;
	margin-left: 5rem;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-container {
	display: flex;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	font-size: 1.5rem;
	list-style: none;
	width: 50vw;
}

nav ul {
	flex: 1 1 10em;
}

nav ul li a {
	text-decoration: none;
	color: #eee9e9;
	font-weight: bold;
}

/*Burger Menu*/

.burger {
	display: none;
	cursor: pointer;
	align-self: center;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(228, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

.nav-active {
	transform: translateX(0%);
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.burger {
		display: block;
	}
	nav ul {
		background-color: #1d3557;
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	nav ul li {
		opacity: 0;
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*Index Content*/

.index-heading {
	grid-column: 7/12;
	grid-row: 3/4;
	/* white-space: nowrap; */
}
.index-paragraph {
	grid-column: 7/13;
	grid-row: 4/5;
}

.learn-more {
	grid-column: 8/10;
	grid-row: 6/7;
	background: transparent;
	width: 220px;
	height: 63px;
	background-color: #000000;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}

.learn-more:hover {
	box-shadow: inset 220px 0 0 0 rgb(255, 255, 255);
	cursor: pointer;
	color: black;
}

.popular-places {
	grid-column: 10/12;
	grid-row: 6/7;
	background: transparent;
	width: 220px;
	height: 63px;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}

.popular-places:hover {
	box-shadow: inset 220px 0 0 0 rgb(255, 255, 255);
	cursor: pointer;
	color: black;
}

h1 {
	font-size: 4.5rem;
	color: #000000;
	font-weight: 800;
}
h3 {
	font-size: 2.25rem;
	color: #343232;
	font-weight: normal;
}

/*Index Content 2*/

.rectangleblack {
	background: url(images/rectangleblack.png);
	grid-column: 1/13;
	grid-row: 1/2;
	text-align: center;
	max-height: 73px;
}

.logoblack {
	width: 182px;
	height: 69px;
	object-fit: cover;
}

.index2-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 24px;
	height: 100vh;
}

.content-heading {
	grid-column: 3/7;
	grid-row: 3/4;
	color: #457b9d;
	font-size: 4.5vw;
}
.content-paragraph-container {
	grid-column: 3/7;
	grid-row: 4/11;
	/* background: rgb(134, 136, 131); */
}
.content-paragraph {
	font-size: 2vmin;
	font-weight: bold;
	height: 100%;
}
.content-image-container {
	grid-column: 8/11;
	grid-row: 3/11;
}
.content-image {
	object-fit: cover;
	/* border-radius: 195px; */
	max-width: 100%;
	height: 100%;
}

/* Index Content 3 */

.index3-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/*To my experience is better to add "auto" if you don't want the exact same height for every item*/
	grid-template-rows: repeat(auto, auto);
	gap: 24px;
	height: 100vh;
}

.content-heading2 {
	grid-column: 1/13;
	grid-row: 2/3;
	text-align: center;
	color: #457b9d;
}

.image-container-taichung {
	grid-column: 3/5;
	grid-row: 3 / 4;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.image-container-taipei {
	grid-column: 6/8;
	grid-row: 3 / 4;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.image-container-hualien {
	grid-column: 9/11;
	grid-row: 3 / 4;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.taichung-image {
	max-width: 100%;
	height: 77%;
}
.taipei-image {
	max-width: 100%;
	height: 77%;
	object-fit: cover;
}
.hualien-image {
	max-width: 100%;
	height: 77%;
}

.button-taichung {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}
.button-taichung:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}
.button-taipei {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}
.button-taipei:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}
.button-hualien {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;

	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}
.button-hualien:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}
/*Index3 More Images*/

.image-container-taitung {
	grid-column: 3/5;
	grid-row: 4/5;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.image-container-hsinchu {
	grid-column: 6/8;
	grid-row: 4/5;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.image-container-nantou {
	grid-column: 9/11;
	grid-row: 4/5;
	max-width: 342px;
	max-height: 301px;
	text-align: center;
}

.taitung-image {
	max-width: 100%;
	height: 77%;
	object-fit: fill;
}
.hsinchu-image {
	max-width: 100%;
	height: 77%;
	object-fit: fill;
}
.nantou-image {
	max-width: 100%;
	height: 77%;
	object-fit: fill;
}

.button-taitung {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}

.button-taitung:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}

.button-hsinchu {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}
.button-hsinchu:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}

.button-nantou {
	background: transparent;
	max-width: 100%;
	max-height: 63px;
	padding: 1rem;
	background-color: #457b9d;
	border-radius: 50px;
	color: White;
	justify-self: center;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: inset 0 0 0 0 black;
	transition: ease-out 0.3s;
	border: none;
}
.button-nantou:hover {
	box-shadow: inset 256px 0 0 0 black;
	cursor: pointer;
}

footer {
	grid-column: 3/11;
	grid-row: 8 / auto;
	background-color: #eeeeee;
	display: flex;
	align-items: center;
}

footer li {
	list-style: none;
}

footer li a {
	text-decoration: none;
}

/*Explore Page*/
.explore-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 24px;
	height: 100vh;
}

.explore-heading {
	grid-column: 1/13;
	grid-row: 3/4;
	text-align: center;
	font-size: 4.5vw;
	color: #000000;
}
.explore-paragraph {
	grid-column: 5/9;
	grid-row: 4/5;
	text-align: center;
	font-size: 3vmin;
}
.arrow {
	grid-column: 6/8;
	grid-row: 5/6;
	justify-self: center;
	cursor: pointer;
	max-height: 18vw;
}

/*Explore Page2*/
.explore2-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 24px;
	height: 100vh;
}

.svg-container {
	grid-column: 1/7;
	grid-row: 2/12;
	max-width: 100%;
	/* background-color: #1d3557; */
}

#svg2602 {
	padding: 3rem;
}

#svg2602 path {
	fill: #666666;
	stroke: rgb(255, 255, 255);
	stroke-width: 3;
}

#svg2602 path:focus {
	fill: black;
}

#svg2602 path:hover {
	fill: #4a9797;
	transition: 0.6s;
	cursor: pointer;
}

.box {
	grid-column: 8/12;
	grid-row: 4 / auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: none;
}

.active {
	display: block;
}

.clickablemap-heading {
	text-align: center;
	line-height: 5rem;
}

.clickablemap-paragraph {
	padding: 2rem;
}

/*Contact Page*/
.contact-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	gap: 24px;
	height: 100vh;
}

.contact-heading {
	grid-column: 2/7;
	grid-row: 2/3;
	text-align: center;
	font-size: 4.5vw;
}

.container-form-grid {
	grid-column: 2/7;
	grid-row: 3/11;
	width: 100%;
	height: 100%;
	line-height: 80px;
}
.name-subject {
	width: 100%;
	height: 50px;
}
textarea {
	width: 100%;
	resize: none;
}

.submit-button {
	width: 50%;
	height: 50px;
}

form {
	text-align: center;
}
.contact-image-icon1 {
	grid-column: 9/11;
	grid-row: 3/4;
	width: 100px;
	height: 100px;
	margin: 0;
	align-self: start;
	justify-self: center;
	margin-bottom: 2rem;
}
.contact-icon1 {
	grid-column: 9/11;
	grid-row: 3/4;
	align-self: end;
	justify-self: center;
}
.contact-image-icon2 {
	grid-column: 9/11;
	grid-row: 4/5;
	width: 100px;
	height: 100px;
	margin: 0;
	align-self: start;
	justify-self: center;
	margin-bottom: 2rem;
}
.contact-icon2 {
	grid-column: 9/11;
	grid-row: 4/5;
	margin: 0;
	align-self: end;
	justify-self: center;
}
.contact-image-icon3 {
	grid-column: 9/11;
	grid-row: 5/6;
	width: 100px;
	height: 80px;
	margin: 0;
	padding: 1rem;
	align-self: start;
	justify-self: center;
	margin-bottom: 1rem;
}
.contact-icon3 {
	grid-column: 9/11;
	grid-row: 5/6;
	margin: 0;
	align-self: end;
	justify-self: center;
}
.contact-last-image {
	grid-column: 1/6;
	grid-row: 7/10;
}

.contact2-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-rows: repeat(12, 1fr); */
	gap: 24px;
	height: 100vh;
}
.contact2-heading {
	grid-column: 1/13;
	grid-row: 2/3;
	text-align: center;
	font-size: 4.5vw;
}

.chinese-name {
	grid-column: 7/11;
	grid-row: 3/4;
	font-size: 4.5vw;
	align-self: center;
	transform: translateY(-70%);
}
.spanish-name {
	grid-column: 7/12;
	grid-row: 3/4;
	font-size: 2.25vw;
	align-self: center;
}
.me-image-container {
	grid-column: 2/6;
	grid-row: 3 / auto;
}
.me-image {
	/* max-width: 465px;
	max-height: 500px; */
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-height: 800px) {
}

@media screen and (max-width: 550px) {
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}

	section {
		scroll-snap-align: unset;
	}
	.index-grid {
		display: block;
	}
	.index-heading {
		text-align: center;
		font-size: 4rem;
		overflow-wrap: break-word;
	}
	.index-paragraph {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
	.learn-more {
		display: block;
		margin: 0 auto;
		font-size: 0.875rem;
		margin-bottom: 1.5rem;
	}
	.popular-places {
		display: block;
		margin: 0 auto;
		font-size: 0.875rem;
	}
	.index2-grid {
		display: block;
	}
	.content-heading {
		text-align: center;
		font-size: 2.5rem;
	}
	.content-paragraph {
		text-align: center;
		font-size: 0.7rem;
		padding: 1rem;
	}
	.content-image-container {
		text-align: center;
	}
	.content-image {
		width: 50%;
		height: 250px;
	}
	.index3-grid {
		display: block;
	}
	.content-heading2 {
		text-align: center;
		font-size: 2.5rem;
	}
	.image-container-taichung {
		margin: 0 auto;
	}
	.image-container-taipei {
		margin: 0 auto;
	}
	.image-container-hualien {
		margin: 0 auto;
	}
	.image-container-taitung {
		margin: 0 auto;
	}
	.image-container-hsinchu {
		margin: 0 auto;
	}
	.image-container-nantou {
		margin: 0 auto;
	}

	/*Map*/
	.explore-grid {
		height: 80vh;
	}
	.svg-container {
		grid-column: 1/13;
		grid-row: 2/5;
	}
	.box {
		grid-column: 1/13;
		grid-row: 12 / auto;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		margin-top: 2rem;
	}

	/*Contact Page*/
	.contact-grid {
		display: block;
		/* height: 80vh; */
	}
	.contact-heading {
		margin-top: 2rem;
	}
	.contact-image-icon1,
	.contact-image-icon2,
	.contact-image-icon3,
	.contact-icon1,
	.contact-icon2,
	.contact-icon3 {
		display: none;
	}
	.container-form-grid {
		height: 50vh;
		padding: 2rem;
	}

	.contact2-grid {
		display: block;
		/* height: 50vh; */
	}
	.me-image-container {
		padding: 2rem;
		object-fit: cover;
	}
	.chinese-name {
		text-align: center;
	}
	.spanish-name {
		text-align: center;
		padding: 2rem;
	}
}
